<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Reg</td><td>MultipleTestPriorityGrouping.Test5()[pri:3, instance:com.PracticeScenarios.MultipleTestPriorityGrouping@36d4b5c]<br/>MultipleTestPriorityGrouping.Test4()[pri:2, instance:com.PracticeScenarios.MultipleTestPriorityGrouping@36d4b5c]<br/>MultipleTestPriorityGrouping.Test6()[pri:4, instance:com.PracticeScenarios.MultipleTestPriorityGrouping@36d4b5c]<br/></td></tr>
<tr><td>Smoke</td><td>MultipleTestPriorityGrouping.Test2()[pri:4, instance:com.PracticeScenarios.MultipleTestPriorityGrouping@36d4b5c]<br/>MultipleTestPriorityGrouping.Test9()[pri:2, instance:com.PracticeScenarios.MultipleTestPriorityGrouping@36d4b5c]<br/>MultipleTestPriorityGrouping.Test3()[pri:1, instance:com.PracticeScenarios.MultipleTestPriorityGrouping@36d4b5c]<br/></td></tr>
</table>
