<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7471b5">  <td>18/08/31 11:04:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultipleTestPriorityGrouping.Test2()[pri:4, instance:com.PracticeScenarios.MultipleTestPriorityGrouping@36d4b5c]">Test2</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/08/31 11:04:17</td>   <td>-20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultipleTestPriorityGrouping.Test3()[pri:1, instance:com.PracticeScenarios.MultipleTestPriorityGrouping@36d4b5c]">Test3</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/08/31 11:04:17</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultipleTestPriorityGrouping.Test4()[pri:2, instance:com.PracticeScenarios.MultipleTestPriorityGrouping@36d4b5c]">Test4</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/08/31 11:04:17</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultipleTestPriorityGrouping.Test5()[pri:3, instance:com.PracticeScenarios.MultipleTestPriorityGrouping@36d4b5c]">Test5</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/08/31 11:04:17</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultipleTestPriorityGrouping.Test6()[pri:4, instance:com.PracticeScenarios.MultipleTestPriorityGrouping@36d4b5c]">Test6</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/08/31 11:04:17</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultipleTestPriorityGrouping.Test7()[pri:0, instance:com.PracticeScenarios.MultipleTestPriorityGrouping@36d4b5c]">Test7</td> 
  <td>main@542060780</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/08/31 11:04:17</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultipleTestPriorityGrouping.Test9()[pri:2, instance:com.PracticeScenarios.MultipleTestPriorityGrouping@36d4b5c]">Test9</td> 
  <td>main@542060780</td>   <td></td> </tr>
</table>
